.a:link
{
    color: rgb(0, 0, 0);
}
body
{
    background-color: rgb(255, 255, 255);
}
#wrapper
{
    width: 75vw;
    margin-left: 10vw;
}
/* Title Background */
.display-1
{
    width: 75vw;
    background-color: rgb(126, 199, 126);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    text-align: center;
    border-radius: 1vw;
    font-size: 6vw;
}
/* Navigation */
nav
{
    height: 2.5em;
    color:  #000;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    background-color: rgb(155, 247, 155);
    text-align: center;
    line-height: 2.5em;
    border-radius: 1vw;
}
/* Home Button */
.home
{
    width: 18.75vw;
    float: left;
    color: rgb(0, 0, 0);
    border-radius: 1vw;
}
div.home:hover
{
    background-color: rgb(90, 134, 90);
    border-radius: 1vw;
}
/* About Button */
.about
{
    width: 18.75vw;
    float: left;
    color: rgb(0, 0, 0);
    border-radius: 1vw;
}
div.about:hover
{
    background-color: rgb(90, 134, 90);
    border-radius: 1vw;
}
/* Portfolio Button */
.portfolio
{
    width: 18.75vw;
    float: left;
    color: rgb(0, 0, 0);
    border: 1vw;
}
div.portfolio:hover
{
    background-color: rgb(90, 134, 90);
    border-radius: 1vw;
}
/* Contact Button */
.contact
{
    width: 18.75vw;
    float: left;
    color: black;
    border-radius: 1vw;
}
div.contact:hover
{
    background-color: rgb(90, 134, 90);
    border-radius: 1vw;
}
div.section
{
    border: #000;
    border: 1px;
}
section
{
    background-color: rgb(255, 255, 255);
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
footer
{
    background-color: rgb(163, 163, 163);
    padding: 2.5vw;
    border-radius: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 1.25vw;
}
h1
{
    font-size: 4vw;
}
h2
{
    font-size: 3vw;
}
p
{
    font-size: 2vw
}
table
{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr
{
    width: 25vw;
    font-size: 2vw;
    padding-right: 2.5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th
{
    width: 25vw;
    font-size: 1.75vw;
    padding-right: 2.5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
td
{
    width: 25vw;
    font-size: 1.5vw;
    padding-right: 2.5vw;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}